---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Tools from '../../components/Tools.astro';
---

<BaseLayout lang="en" title="Tools">
  <div class="pad"><Tools lang="en" all={true} /></div>
</BaseLayout>

<style>.pad { padding-top: 36px; }</style>
